.App {
  text-align: center;
}

.App-logo {
  height: 32px;
  width: 32px;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


a {
  color: rgb(243, 139, 139);
}

a:hover {
  color: rgb(243, 139, 139)
}
